[submodule "vscode-extension/vscode-extension"]
	path = vscode-extension/vscode-extension
	url = git@github.com:CodeGeeX/codegeex-vscode-extension.git
[submodule "vscode-extension/codegeex-vscode-extension"]
	path = vscode-extension/codegeex-vscode-extension
	url = git@github.com:CodeGeeX/codegeex-vscode-extension.git
